input {
  background-color: #86d3f4;
  font-size: 32px;
  line-height: 1.2em;
  font-weight: 700;
  width: 270px;
}
.focused {
  box-shadow: 2px 2px #fff, -2px -2px #fff, 2px -2px #fff, -2px 2px #fff;
}
