.suptext {
  font-size: 26px;
  line-height: 1.2em;
  margin-bottom: 13px;
}
.input {
  margin-bottom: 13px;
}
.subtext {
  font-size: 14px;
  line-height: 1.2em;
}
.numbersPannel {

}

.checkboxWrapper {
    display: flex;
}