.checkboxWrapper {
    display: flex;
    margin-bottom: 15px;
    align-self: flex-start;
    align-items: center;
    .hidden {
      display: none;
    }
    .checkboxEl {
      width: 40px;
      height: 40px;
      margin-left: 20px;
      margin-right: 20px;
      border: 2px solid #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: "24px";
        height: "17px";
      }
    }
    .checkboxText {
      text-align: left;
    }
  }