.numbersPanel {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr 1fr;
  margin-bottom: 30px;
  gap: 10px;

  // не забыть удалить либо этот комментарий, либо код ниже
  .elements {
    padding: 12px 35px;
    border: 2px solid #000;
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 500;
    cursor: pointer;
  }
  .resetEl {
    grid-column: 1 / 3;
  }
  .active {
    background-color: #000;
    color: #fff;
  }
}
