.banner {
  position: absolute;
  bottom: 140px;
  right: 0;
  z-index: 1;
  transform: translateX(250px);
}
.animation {
  animation: showBanner 0.5s forwards;
}
@keyframes showBanner {
  0% {
    transform: translateX(250px);
  }
  100% {
    transform: translateX(0);
  }
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px 10px 10px;
  background-color: #86d3f4;
  max-width: 250px;
}
.suptext {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2em;
}
.imageWrapper {
  margin-bottom: 20px;
}
.subtext {
  font-weight: 400;
  max-width: 126px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.2em;
}
.button {
  width: 155px;
  background-color: #000;
  color: #86d3f4;
  padding: 17px 0;
  cursor: pointer;
}
